# 01 - Introducci√≥n a SQL

En este _notebook_ vamos a aprender los conceptos b√°sicos de SQL ü•≥. En concreto, vamos a aprender a:

1. Crear y eliminar tablas. Adem√°s vamos a ver los conceptos de restricciones de integridad.
2. Insertar, eliminar y actualizar datos.
3. Consultar datos con comandos b√°sicos: `SELECT`, `FROM` y `WHERE`.
4. Cruzar datos entre tablas con los comandos `INNER JOIN` y `LEFT JOIN`.
5. Hacer consultas de agregaci√≥n con `GROUP BY` y `HAVING`.

Vamos a suponer un caso ficticio, de una tienda en l√≠nea que vende frutas y verduras ü•ó. Vamos a tener usuarios que realizaron compras en esta tienda y vamos a generar algunos reportes. 

**Ojo**: la idea es que cargues este _notebook_ en Google Colab para que puedas aprender de forma interactiva.

## Cargando la base de datos

Vamos a usar SQLite, un sistema de bases de datos liviano, ideal para aprender. Para esto, vamos a crear una base de datos llamada `ecommerce.db`.

In [41]:
# Aqu√≠ cargamos una extensi√≥n para poder correr consultas SQL
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [42]:
# Creamos una base de datos llamada ecommerce.db
%sql sqlite:///ecommerce.db

## Creando las tablas y datos

Ahora vamos a crear las tablas y los datos que usaremos para esta actividad. 

1. En SQL las tablas se crean con el comando `CREATE TABLE`. Tenemos que se√±alar el nombre de la tablas y los tipos de dato.
2. Tambi√©n se√±alamos la llave primaria: una columna cuyo valor no puede estar repetido. **Ojo**: una llave primaria puede componerse de varias columnas.
3. Para eliminar una tabla usamos `DROP TABLE`. En este caso, antes de crear la tablas, la estamos eliminando si es que existe.

In [44]:
%%sql
DROP TABLE IF EXISTS Usuarios;

CREATE TABLE Usuarios(
    uid INT PRIMARY KEY, 
    unombre VARCHAR(100), 
    ufecha_nacimiento DATE, 
    utarjeta VARCHAR(25), 
    udireccion VARCHAR(100)
);

 * sqlite:///ecommerce.db
Done.
Done.

[]

En este caso creamos una tabla de cinco columnas:

1. `uid`: id del usuario.
2. `unombre`: nombre del usuario.
3. `ufecha_nacimiento`: fecha de nacimiento del usuario.
4. `utarjeta`: n√∫mero de la tarjeta de cr√©dito del usuario.
5. `udireccion`: direcci√≥n del usuario.

Notamos que al declarar la columna se√±alamos el tipo de dato (n√∫mero, texto, fecha, ...). Aqu√≠ tenemos atributos de tipo:

1. `INT`: corresponden a n√∫meros enteros.
2. `VARCHAR(N)`: corresponden a texto de N caracteres o menos.
3. `DATE`: corresponde a una fecha.

Adem√°s de estos tipos, hay varios m√°s. Te invitamos a que busques m√°s detalles por tu cuenta üòâ.

Ahora, vamos a insertar datos en las tablas. Para esto usamos el comando `INSERT INTO`.

In [45]:
%%sql
INSERT INTO usuarios VALUES(1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge');
INSERT INTO usuarios VALUES(2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens');
INSERT INTO usuarios VALUES(3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers');
INSERT INTO usuarios VALUES(4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge');
INSERT INTO usuarios VALUES(5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate');
INSERT INTO usuarios VALUES(6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way');

 * sqlite:///ecommerce.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Insertamos 6 filas. Ahora vamos a hacer nuestra primera consulta: vamos a pedirle a la base de datos que nos entregue todos los usuarios de la tabla `Usuarios`.

In [46]:
%%sql
SELECT * FROM Usuarios;

 * sqlite:///ecommerce.db
Done.

[(1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge'),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens'),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers'),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge'),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate'),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way')]

Siguiendo la misma mec√°nica, vamos a crear una tabla de productos e insertaremos algunas filas. Las columnas son: 

1. El id del producto.
2. El nombre del producto.
3. El precio del producto.

Recordemos que nuestros productos van a ser frutas y verduras.

In [48]:
%%sql
DROP TABLE IF EXISTS Productos;

CREATE TABLE Productos(
    pid INT PRIMARY KEY, 
    pnombre VARCHAR(100), 
    pprecio INT
);

 * sqlite:///ecommerce.db
Done.
Done.

[]

In [49]:
%%sql
INSERT INTO Productos VALUES(1, 'Tomate', 200);
INSERT INTO Productos VALUES(2, 'Palta', 1000);
INSERT INTO Productos VALUES(3, 'Cereza', 50);
INSERT INTO Productos VALUES(4, 'Lechuga Hidrop√≥nica', 900);
INSERT INTO Productos VALUES(5, 'Lechuga Escarola', 550);
INSERT INTO Productos VALUES(6, 'Pl√°tano', 350);
INSERT INTO Productos VALUES(7, 'Mango', 750);
INSERT INTO Productos VALUES(8, 'Sand√≠a', 2500);
INSERT INTO Productos VALUES(9, 'Kiwi', 200);
INSERT INTO Productos VALUES(10, 'Papa', 390);
INSERT INTO Productos VALUES(11, 'manzana', 400);
INSERT INTO Productos VALUES(12, 'Durazno', 300);
INSERT INTO Productos VALUES(13, 'Aguacate', 1000);

 * sqlite:///ecommerce.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Ahora es tu turno, inserta en la celda de abajo el comando para ver todos los productos en la tabla `Productos`.

In [58]:
%%sql
-- Escribe tu consulta bajo esta l√≠nea.

 * sqlite:///ecommerce.db
0 rows affected.

[]

**Ups!** Tenemos dos problemas:

1. Insertamos el valor `manzana` con min√∫scula, y queremos que est√© con may√∫scula al inicio.
2. Insertamos `Palta` y `Aguacate`, pero para ser consistentes solo necesitamos quedarnos con uno de los dos.

Por lo mismo, vamos a actualizar el registro `manzana` con el comando `UPDATE TABLE`.

In [61]:
%%sql
UPDATE Productos SET pnombre='Manzana' WHERE pid=11;

 * sqlite:///ecommerce.db
1 rows affected.

[]

Y vamos a eliminar la fila con `pid=13`.

In [62]:
%%sql
DELETE FROM Productos WHERE pid=13;

 * sqlite:///ecommerce.db
1 rows affected.

[]

Ahora veamos de nuevo todos los registros.

In [63]:
%%sql
SELECT * FROM Productos;

 * sqlite:///ecommerce.db
Done.

[(1, 'Tomate', 200),
 (2, 'Palta', 1000),
 (3, 'Cereza', 50),
 (4, 'Lechuga Hidrop√≥nica', 900),
 (5, 'Lechuga Escarola', 550),
 (6, 'Pl√°tano', 350),
 (7, 'Mango', 750),
 (8, 'Sand√≠a', 2500),
 (9, 'Kiwi', 200),
 (10, 'Papa', 390),
 (11, 'Manzana', 400),
 (12, 'Durazno', 300)]

Ahora si est√° todo en orden üòä. Finalmente vamos a crear una tabla que nos dice que usuarios han comprado que productos.

In [64]:
%%sql
DROP TABLE IF EXISTS Compras;

CREATE TABLE Compras(
    cid INT, 
    uid INT, 
    pid INT,
    cfecha DATE,
    ccantidad INT,
    FOREIGN KEY(uid) references Usuarios(uid),
    FOREIGN KEY(pid) references Productos(pid)
);

 * sqlite:///ecommerce.db
Done.
Done.

[]

In [65]:
%%sql
INSERT INTO COMPRAS VALUES(1, 1, 8, '2022-09-04', 4);
INSERT INTO COMPRAS VALUES(1, 1, 1, '2022-09-04', 4);
INSERT INTO COMPRAS VALUES(2, 1, 1, '2022-10-10', 2);
INSERT INTO COMPRAS VALUES(2, 1, 5, '2022-10-10', 3);
INSERT INTO COMPRAS VALUES(2, 1, 4, '2022-10-10', 3);
INSERT INTO COMPRAS VALUES(3, 3, 8, '2022-02-18', 4);
INSERT INTO COMPRAS VALUES(3, 3, 12, '2022-02-18', 3);
INSERT INTO COMPRAS VALUES(3, 3, 9, '2022-02-18', 2);
INSERT INTO COMPRAS VALUES(4, 3, 2, '2022-05-13', 5);
INSERT INTO COMPRAS VALUES(5, 3, 1, '2022-10-02', 4);
INSERT INTO COMPRAS VALUES(5, 3, 10, '2022-10-02', 5);
INSERT INTO COMPRAS VALUES(5, 3, 9, '2022-10-02', 1);
INSERT INTO COMPRAS VALUES(5, 3, 6, '2022-10-02', 5);
INSERT INTO COMPRAS VALUES(5, 3, 4, '2022-10-02', 5);
INSERT INTO COMPRAS VALUES(5, 3, 3, '2022-10-02', 5);
INSERT INTO COMPRAS VALUES(6, 4, 9, '2022-02-12', 4);
INSERT INTO COMPRAS VALUES(6, 4, 3, '2022-02-12', 3);
INSERT INTO COMPRAS VALUES(6, 4, 7, '2022-02-12', 1);
INSERT INTO COMPRAS VALUES(7, 4, 10, '2022-11-15', 5);
INSERT INTO COMPRAS VALUES(7, 4, 8, '2022-11-15', 2);
INSERT INTO COMPRAS VALUES(7, 4, 9, '2022-11-15', 5);
INSERT INTO COMPRAS VALUES(7, 4, 6, '2022-11-15', 3);
INSERT INTO COMPRAS VALUES(7, 4, 4, '2022-11-15', 1);
INSERT INTO COMPRAS VALUES(7, 4, 7, '2022-11-15', 1);
INSERT INTO COMPRAS VALUES(8, 4, 6, '2022-04-26', 2);
INSERT INTO COMPRAS VALUES(9, 5, 2, '2022-12-05', 1);
INSERT INTO COMPRAS VALUES(9, 5, 4, '2022-12-05', 3);
INSERT INTO COMPRAS VALUES(9, 5, 3, '2022-12-05', 2);
INSERT INTO COMPRAS VALUES(9, 5, 12, '2022-12-05', 2);
INSERT INTO COMPRAS VALUES(9, 5, 6, '2022-12-05', 2);
INSERT INTO COMPRAS VALUES(10, 5, 4, '2022-02-22', 3);
INSERT INTO COMPRAS VALUES(10, 5, 12, '2022-02-22', 4);
INSERT INTO COMPRAS VALUES(10, 5, 8, '2022-02-22', 5);
INSERT INTO COMPRAS VALUES(10, 5, 10, '2022-02-22', 5);
INSERT INTO COMPRAS VALUES(11, 5, 9, '2022-04-21', 5);
INSERT INTO COMPRAS VALUES(11, 5, 11, '2022-04-21', 2);
INSERT INTO COMPRAS VALUES(12, 6, 3, '2022-05-12', 4);
INSERT INTO COMPRAS VALUES(13, 6, 3, '2022-05-21', 4);
INSERT INTO COMPRAS VALUES(13, 6, 9, '2022-05-21', 1);
INSERT INTO COMPRAS VALUES(13, 6, 5, '2022-05-21', 2);
INSERT INTO COMPRAS VALUES(13, 6, 7, '2022-05-21', 4);
INSERT INTO COMPRAS VALUES(13, 6, 10, '2022-05-21', 1);
INSERT INTO COMPRAS VALUES(13, 6, 1, '2022-05-21', 1);
INSERT INTO COMPRAS VALUES(14, 6, 9, '2022-01-08', 1);
INSERT INTO COMPRAS VALUES(14, 6, 7, '2022-01-08', 1);
INSERT INTO COMPRAS VALUES(15, 6, 10, '2022-03-30', 1);
INSERT INTO COMPRAS VALUES(15, 6, 7, '2022-03-30', 3);
INSERT INTO COMPRAS VALUES(15, 6, 11, '2022-03-30', 2);
INSERT INTO COMPRAS VALUES(15, 6, 12, '2022-03-30', 1);
INSERT INTO COMPRAS VALUES(15, 6, 6, '2022-03-30', 3);

 * sqlite:///ecommerce.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Ahora vamos a mostrar los tres primeros registros de esta tabla.

In [68]:
%%sql
SELECT * FROM Compras LIMIT 3;

 * sqlite:///ecommerce.db
Done.

[(1, 1, 8, '2022-09-04', 4),
 (1, 1, 1, '2022-09-04', 4),
 (2, 1, 1, '2022-10-10', 2)]

¬øC√≥mo se lee esta tabla? Tenemos un identificador para la compra (`cid`). As√≠, podemos ver que en la compra 1, el usuario 1 compr√≥ el producto 8 el d√≠a `2022-09-04` y llev√≥ 4 unidades de dicho producto. En el mismo pedido el usuario compr√≥ el 4 unidades del producto 1.
En la compra 2 (realizada otro d√≠a) el usuario 1 compr√≥ dos unidades del producto 1.

## Consultando los datos con SQL

Ahora que ya tenemos los datos cargados podemos empezar a hacer nuestras primeras consultas. Por ejemplo, podemos preguntar por todos los usuarios que nacieron despu√©s del 01 de enero de 1990. Para filtrar las filas usamos el comando `WHERE`.

**Consulta 1.** Todos los usuarios que nacieron despu√©s del `1990-01-01`.

In [69]:
%%sql
SELECT * FROM Usuarios WHERE ufecha_nacimiento >= '1990-01-01';

 * sqlite:///ecommerce.db
Done.

[(4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge'),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate'),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way')]

A veces no queremos todas los columnas, por ejemplo, podr√≠amos querer solamente el `uid` y el `unombre`. Para esto, se√±alamos las columnas que necesitamos en el `SELECT`.

**Consulta 2.** Obtener el `uid` y `unombre` de todos los usuarios.

In [71]:
%%sql
SELECT uid, unombre FROM Usuarios;

 * sqlite:///ecommerce.db
Done.

[(1, 'Christopher Smith'),
 (2, 'Melissa Saunders'),
 (3, 'Emily Sharp'),
 (4, 'Ronald Lewis'),
 (5, 'Johnny White'),
 (6, 'Nicole Morgan')]

Podemos combinar el comando `SELECT` con el comando `WHERE`.

**Consulta 3.** Obtener el `uid` y `unombre` de todos los usuarios nacidos despu√©s del `1990-01-01`.

In [73]:
%%sql
SELECT uid, unombre FROM Usuarios WHERE ufecha_nacimiento >= '1990-01-01';

 * sqlite:///ecommerce.db
Done.

[(4, 'Ronald Lewis'), (5, 'Johnny White'), (6, 'Nicole Morgan')]

Ahora te toca a ti. Haz una consulta que retorne el `pnombre` de todos los productos que cuestan m√°s de \$900.

**Consulta 4.** Obtener el `pnombre` de todos los productos que cuesten \$900 o m√°s pesos.

In [74]:
%%sql
-- Escribe tu consulta bajo esta l√≠nea

 * sqlite:///ecommerce.db
0 rows affected.

[]

## Combinando datos de distintas tablas

Hasta ahora aprendimos a consultar datos de una √∫nica tabla, pero muchas veces vamos a necesitar cruzar datos entre tablas. Por ejemplo, nos gustar√≠a saber la tarjeta de cr√©dito utilizada en cada una de las compras. La informaci√≥n de la tarjeta de cr√©dito est√° en la tabla de `Usuarios` pero no en la de `Compras`. Por lo mismo, vamos a tener que cruzar los datos haciendo un _join_. El _join_ es probablemente la operaci√≥n m√°s importante en las bases de datos, y tambi√©n una de las m√°s costosas.

Para hacer un _join_, lo que hacemos es extender las filas de una tabla con columnas que vienen de otras tablas. Para hacer esto, partimos de hacer un producto cruz; esto es, mezclar las filas de dos tablas. Para hacer esto agregamos una segunda tabla al `FROM` de la consulta.

In [79]:
%%sql
SELECT * FROM Usuarios, Compras;

 * sqlite:///ecommerce.db
Done.

[(1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 1, 1, 8, '2022-09-04', 4),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 1, 1, 1, '2022-09-04', 4),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 2, 1, 1, '2022-10-10', 2),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 2, 1, 5, '2022-10-10', 3),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 2, 1, 4, '2022-10-10', 3),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 3, 3, 8, '2022-02-18', 4),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 3, 3, 12, '2022-02-18', 3),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 3, 3, 9, '2022-02-18', 2),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 4, 3, 2, '2022-05-13', 5),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 5, 3, 1, '2022-10-02', 4),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 5, 3, 10, '2022-10-02', 5),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 5, 3, 9, '2022-10-02', 1),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 5, 3, 6, '2022-10-02', 5),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 5, 3, 4, '2022-10-02', 5),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 5, 3, 3, '2022-10-02', 5),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 6, 4, 9, '2022-02-12', 4),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 6, 4, 3, '2022-02-12', 3),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 6, 4, 7, '2022-02-12', 1),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 7, 4, 10, '2022-11-15', 5),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 7, 4, 8, '2022-11-15', 2),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 7, 4, 9, '2022-11-15', 5),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 7, 4, 6, '2022-11-15', 3),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 7, 4, 4, '2022-11-15', 1),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 7, 4, 7, '2022-11-15', 1),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 8, 4, 6, '2022-04-26', 2),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 9, 5, 2, '2022-12-05', 1),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 9, 5, 4, '2022-12-05', 3),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 9, 5, 3, '2022-12-05', 2),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 9, 5, 12, '2022-12-05', 2),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 9, 5, 6, '2022-12-05', 2),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 10, 5, 4, '2022-02-22', 3),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 10, 5, 12, '2022-02-22', 4),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 10, 5, 8, '2022-02-22', 5),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 10, 5, 10, '2022-02-22', 5),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 11, 5, 9, '2022-04-21', 5),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 11, 5, 11, '2022-04-21', 2),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 12, 6, 3, '2022-05-12', 4),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 13, 6, 3, '2022-05-21', 4),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 13, 6, 9, '2022-05-21', 1),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 13, 6, 5, '2022-05-21', 2),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 13, 6, 7, '2022-05-21', 4),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 13, 6, 10, '2022-05-21', 1),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 13, 6, 1, '2022-05-21', 1),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 14, 6, 9, '2022-01-08', 1),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 14, 6, 7, '2022-01-08', 1),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 15, 6, 10, '2022-03-30', 1),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 15, 6, 7, '2022-03-30', 3),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 15, 6, 11, '2022-03-30', 2),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 15, 6, 12, '2022-03-30', 1),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 15, 6, 6, '2022-03-30', 3),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 1, 1, 8, '2022-09-04', 4),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 1, 1, 1, '2022-09-04', 4),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 2, 1, 1, '2022-10-10', 2),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 2, 1, 5, '2022-10-10', 3),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 2, 1, 4, '2022-10-10', 3),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 3, 3, 8, '2022-02-18', 4),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 3, 3, 12, '2022-02-18', 3),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 3, 3, 9, '2022-02-18', 2),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 4, 3, 2, '2022-05-13', 5),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 5, 3, 1, '2022-10-02', 4),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 5, 3, 10, '2022-10-02', 5),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 5, 3, 9, '2022-10-02', 1),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 5, 3, 6, '2022-10-02', 5),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 5, 3, 4, '2022-10-02', 5),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 5, 3, 3, '2022-10-02', 5),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 6, 4, 9, '2022-02-12', 4),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 6, 4, 3, '2022-02-12', 3),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 6, 4, 7, '2022-02-12', 1),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 7, 4, 10, '2022-11-15', 5),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 7, 4, 8, '2022-11-15', 2),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 7, 4, 9, '2022-11-15', 5),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 7, 4, 6, '2022-11-15', 3),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 7, 4, 4, '2022-11-15', 1),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 7, 4, 7, '2022-11-15', 1),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 8, 4, 6, '2022-04-26', 2),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 9, 5, 2, '2022-12-05', 1),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 9, 5, 4, '2022-12-05', 3),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 9, 5, 3, '2022-12-05', 2),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 9, 5, 12, '2022-12-05', 2),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 9, 5, 6, '2022-12-05', 2),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 10, 5, 4, '2022-02-22', 3),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 10, 5, 12, '2022-02-22', 4),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 10, 5, 8, '2022-02-22', 5),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 10, 5, 10, '2022-02-22', 5),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 11, 5, 9, '2022-04-21', 5),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 11, 5, 11, '2022-04-21', 2),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 12, 6, 3, '2022-05-12', 4),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 13, 6, 3, '2022-05-21', 4),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 13, 6, 9, '2022-05-21', 1),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 13, 6, 5, '2022-05-21', 2),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 13, 6, 7, '2022-05-21', 4),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 13, 6, 10, '2022-05-21', 1),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 13, 6, 1, '2022-05-21', 1),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 14, 6, 9, '2022-01-08', 1),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 14, 6, 7, '2022-01-08', 1),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 15, 6, 10, '2022-03-30', 1),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 15, 6, 7, '2022-03-30', 3),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 15, 6, 11, '2022-03-30', 2),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 15, 6, 12, '2022-03-30', 1),
 (2, 'Melissa Saunders', '1961-08-09', '3595835187906239', '580 King Glens', 15, 6, 6, '2022-03-30', 3),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 1, 1, 8, '2022-09-04', 4),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 1, 1, 1, '2022-09-04', 4),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 2, 1, 1, '2022-10-10', 2),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 2, 1, 5, '2022-10-10', 3),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 2, 1, 4, '2022-10-10', 3),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 3, 3, 8, '2022-02-18', 4),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 3, 3, 12, '2022-02-18', 3),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 3, 3, 9, '2022-02-18', 2),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 4, 3, 2, '2022-05-13', 5),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 1, '2022-10-02', 4),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 10, '2022-10-02', 5),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 9, '2022-10-02', 1),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 6, '2022-10-02', 5),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 4, '2022-10-02', 5),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 3, '2022-10-02', 5),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 6, 4, 9, '2022-02-12', 4),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 6, 4, 3, '2022-02-12', 3),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 6, 4, 7, '2022-02-12', 1),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 7, 4, 10, '2022-11-15', 5),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 7, 4, 8, '2022-11-15', 2),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 7, 4, 9, '2022-11-15', 5),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 7, 4, 6, '2022-11-15', 3),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 7, 4, 4, '2022-11-15', 1),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 7, 4, 7, '2022-11-15', 1),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 8, 4, 6, '2022-04-26', 2),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 9, 5, 2, '2022-12-05', 1),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 9, 5, 4, '2022-12-05', 3),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 9, 5, 3, '2022-12-05', 2),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 9, 5, 12, '2022-12-05', 2),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 9, 5, 6, '2022-12-05', 2),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 10, 5, 4, '2022-02-22', 3),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 10, 5, 12, '2022-02-22', 4),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 10, 5, 8, '2022-02-22', 5),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 10, 5, 10, '2022-02-22', 5),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 11, 5, 9, '2022-04-21', 5),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 11, 5, 11, '2022-04-21', 2),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 12, 6, 3, '2022-05-12', 4),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 13, 6, 3, '2022-05-21', 4),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 13, 6, 9, '2022-05-21', 1),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 13, 6, 5, '2022-05-21', 2),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 13, 6, 7, '2022-05-21', 4),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 13, 6, 10, '2022-05-21', 1),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 13, 6, 1, '2022-05-21', 1),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 14, 6, 9, '2022-01-08', 1),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 14, 6, 7, '2022-01-08', 1),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 15, 6, 10, '2022-03-30', 1),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 15, 6, 7, '2022-03-30', 3),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 15, 6, 11, '2022-03-30', 2),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 15, 6, 12, '2022-03-30', 1),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 15, 6, 6, '2022-03-30', 3),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 1, 1, 8, '2022-09-04', 4),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 1, 1, 1, '2022-09-04', 4),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 2, 1, 1, '2022-10-10', 2),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 2, 1, 5, '2022-10-10', 3),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 2, 1, 4, '2022-10-10', 3),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 3, 3, 8, '2022-02-18', 4),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 3, 3, 12, '2022-02-18', 3),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 3, 3, 9, '2022-02-18', 2),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 4, 3, 2, '2022-05-13', 5),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 5, 3, 1, '2022-10-02', 4),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 5, 3, 10, '2022-10-02', 5),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 5, 3, 9, '2022-10-02', 1),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 5, 3, 6, '2022-10-02', 5),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 5, 3, 4, '2022-10-02', 5),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 5, 3, 3, '2022-10-02', 5),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 6, 4, 9, '2022-02-12', 4),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 6, 4, 3, '2022-02-12', 3),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 6, 4, 7, '2022-02-12', 1),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 10, '2022-11-15', 5),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 8, '2022-11-15', 2),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 9, '2022-11-15', 5),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 6, '2022-11-15', 3),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 4, '2022-11-15', 1),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 7, '2022-11-15', 1),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 8, 4, 6, '2022-04-26', 2),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 9, 5, 2, '2022-12-05', 1),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 9, 5, 4, '2022-12-05', 3),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 9, 5, 3, '2022-12-05', 2),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 9, 5, 12, '2022-12-05', 2),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 9, 5, 6, '2022-12-05', 2),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 10, 5, 4, '2022-02-22', 3),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 10, 5, 12, '2022-02-22', 4),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 10, 5, 8, '2022-02-22', 5),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 10, 5, 10, '2022-02-22', 5),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 11, 5, 9, '2022-04-21', 5),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 11, 5, 11, '2022-04-21', 2),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 12, 6, 3, '2022-05-12', 4),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 13, 6, 3, '2022-05-21', 4),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 13, 6, 9, '2022-05-21', 1),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 13, 6, 5, '2022-05-21', 2),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 13, 6, 7, '2022-05-21', 4),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 13, 6, 10, '2022-05-21', 1),

Como vemos se nos pas√≥ un poco la mano. En esta consulta mezclamos cada fila de la tabla `Usuarios` con cada Fila de la tabla `Compras`. En este caso, como `Usuarios` tiene 6 filas y `Compras` tiene 50, generamos una tabla de 300 filas.

Pero ahora viene el truco: solo nos sirven las filas en las que el `uid` del usuario es igual al `uid` que viene de la tabla `Compras`, porque queremos extender cada fila de usuario con cada fila de las compras que le corresponden.

In [80]:
%%sql
SELECT * FROM Usuarios, Compras WHERE Usuarios.uid=Compras.uid;

 * sqlite:///ecommerce.db
Done.

[(1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 1, 1, 8, '2022-09-04', 4),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 1, 1, 1, '2022-09-04', 4),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 2, 1, 1, '2022-10-10', 2),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 2, 1, 5, '2022-10-10', 3),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 2, 1, 4, '2022-10-10', 3),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 3, 3, 8, '2022-02-18', 4),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 3, 3, 12, '2022-02-18', 3),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 3, 3, 9, '2022-02-18', 2),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 4, 3, 2, '2022-05-13', 5),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 1, '2022-10-02', 4),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 10, '2022-10-02', 5),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 9, '2022-10-02', 1),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 6, '2022-10-02', 5),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 4, '2022-10-02', 5),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 3, '2022-10-02', 5),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 6, 4, 9, '2022-02-12', 4),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 6, 4, 3, '2022-02-12', 3),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 6, 4, 7, '2022-02-12', 1),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 10, '2022-11-15', 5),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 8, '2022-11-15', 2),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 9, '2022-11-15', 5),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 6, '2022-11-15', 3),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 4, '2022-11-15', 1),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 7, '2022-11-15', 1),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 8, 4, 6, '2022-04-26', 2),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 9, 5, 2, '2022-12-05', 1),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 9, 5, 4, '2022-12-05', 3),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 9, 5, 3, '2022-12-05', 2),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 9, 5, 12, '2022-12-05', 2),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 9, 5, 6, '2022-12-05', 2),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 10, 5, 4, '2022-02-22', 3),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 10, 5, 12, '2022-02-22', 4),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 10, 5, 8, '2022-02-22', 5),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 10, 5, 10, '2022-02-22', 5),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 11, 5, 9, '2022-04-21', 5),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 11, 5, 11, '2022-04-21', 2),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 12, 6, 3, '2022-05-12', 4),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 13, 6, 3, '2022-05-21', 4),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 13, 6, 9, '2022-05-21', 1),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 13, 6, 5, '2022-05-21', 2),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 13, 6, 7, '2022-05-21', 4),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 13, 6, 10, '2022-05-21', 1),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 13, 6, 1, '2022-05-21', 1),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 14, 6, 9, '2022-01-08', 1),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 14, 6, 7, '2022-01-08', 1),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 15, 6, 10, '2022-03-30', 1),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 15, 6, 7, '2022-03-30', 3),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 15, 6, 11, '2022-03-30', 2),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 15, 6, 12, '2022-03-30', 1),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 15, 6, 6, '2022-03-30', 3)]

Como vemos, cada usuario se extendi√≥ con la filas de la tabla `Compras` que le hacen referencia a dicho usuario. 

Hay una forma m√°s amigable de hacer esto, con el comando `Inner Join`. Este comando me sirve para realizar esta extensi√≥n.

In [81]:
%%sql
SELECT * FROM Usuarios INNER JOIN Compras ON Usuarios.uid=Compras.uid;

 * sqlite:///ecommerce.db
Done.

[(1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 1, 1, 8, '2022-09-04', 4),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 1, 1, 1, '2022-09-04', 4),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 2, 1, 1, '2022-10-10', 2),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 2, 1, 5, '2022-10-10', 3),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 2, 1, 4, '2022-10-10', 3),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 3, 3, 8, '2022-02-18', 4),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 3, 3, 12, '2022-02-18', 3),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 3, 3, 9, '2022-02-18', 2),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 4, 3, 2, '2022-05-13', 5),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 1, '2022-10-02', 4),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 10, '2022-10-02', 5),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 9, '2022-10-02', 1),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 6, '2022-10-02', 5),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 4, '2022-10-02', 5),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 3, '2022-10-02', 5),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 6, 4, 9, '2022-02-12', 4),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 6, 4, 3, '2022-02-12', 3),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 6, 4, 7, '2022-02-12', 1),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 10, '2022-11-15', 5),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 8, '2022-11-15', 2),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 9, '2022-11-15', 5),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 6, '2022-11-15', 3),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 4, '2022-11-15', 1),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 7, '2022-11-15', 1),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 8, 4, 6, '2022-04-26', 2),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 9, 5, 2, '2022-12-05', 1),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 9, 5, 4, '2022-12-05', 3),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 9, 5, 3, '2022-12-05', 2),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 9, 5, 12, '2022-12-05', 2),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 9, 5, 6, '2022-12-05', 2),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 10, 5, 4, '2022-02-22', 3),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 10, 5, 12, '2022-02-22', 4),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 10, 5, 8, '2022-02-22', 5),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 10, 5, 10, '2022-02-22', 5),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 11, 5, 9, '2022-04-21', 5),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 11, 5, 11, '2022-04-21', 2),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 12, 6, 3, '2022-05-12', 4),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 13, 6, 3, '2022-05-21', 4),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 13, 6, 9, '2022-05-21', 1),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 13, 6, 5, '2022-05-21', 2),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 13, 6, 7, '2022-05-21', 4),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 13, 6, 10, '2022-05-21', 1),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 13, 6, 1, '2022-05-21', 1),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 14, 6, 9, '2022-01-08', 1),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 14, 6, 7, '2022-01-08', 1),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 15, 6, 10, '2022-03-30', 1),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 15, 6, 7, '2022-03-30', 3),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 15, 6, 11, '2022-03-30', 2),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 15, 6, 12, '2022-03-30', 1),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 15, 6, 6, '2022-03-30', 3)]

Adem√°s, podemos seleccionar solo las columnas que nos interesan. Retomemos el ejemplo original.

**Consulta 5.** Para cada compra, entrega la tarjeta de cr√©dito utilizada.

In [83]:
%%sql
SELECT utarjeta, Compras.* FROM Usuarios INNER JOIN Compras ON Usuarios.uid=Compras.uid;

 * sqlite:///ecommerce.db
Done.

[('4308331309495', 1, 1, 8, '2022-09-04', 4),
 ('4308331309495', 1, 1, 1, '2022-09-04', 4),
 ('4308331309495', 2, 1, 1, '2022-10-10', 2),
 ('4308331309495', 2, 1, 5, '2022-10-10', 3),
 ('4308331309495', 2, 1, 4, '2022-10-10', 3),
 ('2249950444406105', 3, 3, 8, '2022-02-18', 4),
 ('2249950444406105', 3, 3, 12, '2022-02-18', 3),
 ('2249950444406105', 3, 3, 9, '2022-02-18', 2),
 ('2249950444406105', 4, 3, 2, '2022-05-13', 5),
 ('2249950444406105', 5, 3, 1, '2022-10-02', 4),
 ('2249950444406105', 5, 3, 10, '2022-10-02', 5),
 ('2249950444406105', 5, 3, 9, '2022-10-02', 1),
 ('2249950444406105', 5, 3, 6, '2022-10-02', 5),
 ('2249950444406105', 5, 3, 4, '2022-10-02', 5),
 ('2249950444406105', 5, 3, 3, '2022-10-02', 5),
 ('30489422245646', 6, 4, 9, '2022-02-12', 4),
 ('30489422245646', 6, 4, 3, '2022-02-12', 3),
 ('30489422245646', 6, 4, 7, '2022-02-12', 1),
 ('30489422245646', 7, 4, 10, '2022-11-15', 5),
 ('30489422245646', 7, 4, 8, '2022-11-15', 2),
 ('30489422245646', 7, 4, 9, '2022-11-15', 5),
 ('30489422245646', 7, 4, 6, '2022-11-15', 3),
 ('30489422245646', 7, 4, 4, '2022-11-15', 1),
 ('30489422245646', 7, 4, 7, '2022-11-15', 1),
 ('30489422245646', 8, 4, 6, '2022-04-26', 2),
 ('30154431495612', 9, 5, 2, '2022-12-05', 1),
 ('30154431495612', 9, 5, 4, '2022-12-05', 3),
 ('30154431495612', 9, 5, 3, '2022-12-05', 2),
 ('30154431495612', 9, 5, 12, '2022-12-05', 2),
 ('30154431495612', 9, 5, 6, '2022-12-05', 2),
 ('30154431495612', 10, 5, 4, '2022-02-22', 3),
 ('30154431495612', 10, 5, 12, '2022-02-22', 4),
 ('30154431495612', 10, 5, 8, '2022-02-22', 5),
 ('30154431495612', 10, 5, 10, '2022-02-22', 5),
 ('30154431495612', 11, 5, 9, '2022-04-21', 5),
 ('30154431495612', 11, 5, 11, '2022-04-21', 2),
 ('3566959404571215', 12, 6, 3, '2022-05-12', 4),
 ('3566959404571215', 13, 6, 3, '2022-05-21', 4),
 ('3566959404571215', 13, 6, 9, '2022-05-21', 1),
 ('3566959404571215', 13, 6, 5, '2022-05-21', 2),
 ('3566959404571215', 13, 6, 7, '2022-05-21', 4),
 ('3566959404571215', 13, 6, 10, '2022-05-21', 1),
 ('3566959404571215', 13, 6, 1, '2022-05-21', 1),
 ('3566959404571215', 14, 6, 9, '2022-01-08', 1),
 ('3566959404571215', 14, 6, 7, '2022-01-08', 1),
 ('3566959404571215', 15, 6, 10, '2022-03-30', 1),
 ('3566959404571215', 15, 6, 7, '2022-03-30', 3),
 ('3566959404571215', 15, 6, 11, '2022-03-30', 2),
 ('3566959404571215', 15, 6, 12, '2022-03-30', 1),
 ('3566959404571215', 15, 6, 6, '2022-03-30', 3)]

Ahora, es posible que nos interesa solo el `cid` de la compra junto a la tarjeta de cr√©dito.

In [84]:
%%sql
SELECT utarjeta, cid FROM Usuarios INNER JOIN Compras ON Usuarios.uid=Compras.uid;

 * sqlite:///ecommerce.db
Done.

[('4308331309495', 1),
 ('4308331309495', 1),
 ('4308331309495', 2),
 ('4308331309495', 2),
 ('4308331309495', 2),
 ('2249950444406105', 3),
 ('2249950444406105', 3),
 ('2249950444406105', 3),
 ('2249950444406105', 4),
 ('2249950444406105', 5),
 ('2249950444406105', 5),
 ('2249950444406105', 5),
 ('2249950444406105', 5),
 ('2249950444406105', 5),
 ('2249950444406105', 5),
 ('30489422245646', 6),
 ('30489422245646', 6),
 ('30489422245646', 6),
 ('30489422245646', 7),
 ('30489422245646', 7),
 ('30489422245646', 7),
 ('30489422245646', 7),
 ('30489422245646', 7),
 ('30489422245646', 7),
 ('30489422245646', 8),
 ('30154431495612', 9),
 ('30154431495612', 9),
 ('30154431495612', 9),
 ('30154431495612', 9),
 ('30154431495612', 9),
 ('30154431495612', 10),
 ('30154431495612', 10),
 ('30154431495612', 10),
 ('30154431495612', 10),
 ('30154431495612', 11),
 ('30154431495612', 11),
 ('3566959404571215', 12),
 ('3566959404571215', 13),
 ('3566959404571215', 13),
 ('3566959404571215', 13),
 ('3566959404571215', 13),
 ('3566959404571215', 13),
 ('3566959404571215', 13),
 ('3566959404571215', 14),
 ('3566959404571215', 14),
 ('3566959404571215', 15),
 ('3566959404571215', 15),
 ('3566959404571215', 15),
 ('3566959404571215', 15),
 ('3566959404571215', 15)]

Como vemos, tenemos hartos duplicados porque hay m√°s de una fila por cada compra. Podemos eliminar duplicados con el comando `DISTINCT`.

**Consulta 6.** Entrega cada `id` de compra junto al n√∫mero de la tarjeta de cr√©dito utilizada en esa compra.

In [85]:
%%sql
SELECT DISTINCT utarjeta, cid FROM Usuarios INNER JOIN Compras ON Usuarios.uid=Compras.uid;

 * sqlite:///ecommerce.db
Done.

[('4308331309495', 1),
 ('4308331309495', 2),
 ('2249950444406105', 3),
 ('2249950444406105', 4),
 ('2249950444406105', 5),
 ('30489422245646', 6),
 ('30489422245646', 7),
 ('30489422245646', 8),
 ('30154431495612', 9),
 ('30154431495612', 10),
 ('30154431495612', 11),
 ('3566959404571215', 12),
 ('3566959404571215', 13),
 ('3566959404571215', 14),
 ('3566959404571215', 15)]

Ahora te toca a ti. Extiende cada fila de la tabla `Compras` con el precio unitario del producto asociado.

**Consulta 7.** Entrega cada `cid` de `Compras` junto con los productos de esa compra y su precio unitario.

In [86]:
%%sql
-- Escribe la consulta bajo esta l√≠nea

 * sqlite:///ecommerce.db
0 rows affected.

[]

Finalmente, podemos hacer un _join_ de varias tablas. Por ejemplo, podr√≠amos querer saber cada nombre de usuario, junto a cada `cid` de `Compras` que ha realizado, junto al nombre de cada `Producto` comprado en dichas compras.

**Consulta 8.** Entrega cada usuario, junto a cada compra que ha realizado, junto a cada producto comprado en dichas compras.

In [88]:
%%sql
SELECT * FROM Usuarios 
    INNER JOIN Compras ON Usuarios.uid = Compras.uid
    INNER JOIN Productos ON Compras.pid = Productos.pid

 * sqlite:///ecommerce.db
Done.

[(1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 1, 1, 8, '2022-09-04', 4, 8, 'Sand√≠a', 2500),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 1, 1, 1, '2022-09-04', 4, 1, 'Tomate', 200),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 2, 1, 1, '2022-10-10', 2, 1, 'Tomate', 200),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 2, 1, 5, '2022-10-10', 3, 5, 'Lechuga Escarola', 550),
 (1, 'Christopher Smith', '1933-05-11', '4308331309495', '6727 Craig Ridge', 2, 1, 4, '2022-10-10', 3, 4, 'Lechuga Hidrop√≥nica', 900),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 3, 3, 8, '2022-02-18', 4, 8, 'Sand√≠a', 2500),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 3, 3, 12, '2022-02-18', 3, 12, 'Durazno', 300),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 3, 3, 9, '2022-02-18', 2, 9, 'Kiwi', 200),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 4, 3, 2, '2022-05-13', 5, 2, 'Palta', 1000),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 1, '2022-10-02', 4, 1, 'Tomate', 200),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 10, '2022-10-02', 5, 10, 'Papa', 390),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 9, '2022-10-02', 1, 9, 'Kiwi', 200),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 6, '2022-10-02', 5, 6, 'Pl√°tano', 350),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 4, '2022-10-02', 5, 4, 'Lechuga Hidrop√≥nica', 900),
 (3, 'Emily Sharp', '1985-01-28', '2249950444406105', '42560 Miller Centers', 5, 3, 3, '2022-10-02', 5, 3, 'Cereza', 50),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 6, 4, 9, '2022-02-12', 4, 9, 'Kiwi', 200),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 6, 4, 3, '2022-02-12', 3, 3, 'Cereza', 50),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 6, 4, 7, '2022-02-12', 1, 7, 'Mango', 750),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 10, '2022-11-15', 5, 10, 'Papa', 390),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 8, '2022-11-15', 2, 8, 'Sand√≠a', 2500),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 9, '2022-11-15', 5, 9, 'Kiwi', 200),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 6, '2022-11-15', 3, 6, 'Pl√°tano', 350),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 4, '2022-11-15', 1, 4, 'Lechuga Hidrop√≥nica', 900),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 7, 4, 7, '2022-11-15', 1, 7, 'Mango', 750),
 (4, 'Ronald Lewis', '2007-04-30', '30489422245646', '9709 Shaw Lodge', 8, 4, 6, '2022-04-26', 2, 6, 'Pl√°tano', 350),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 9, 5, 2, '2022-12-05', 1, 2, 'Palta', 1000),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 9, 5, 4, '2022-12-05', 3, 4, 'Lechuga Hidrop√≥nica', 900),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 9, 5, 3, '2022-12-05', 2, 3, 'Cereza', 50),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 9, 5, 12, '2022-12-05', 2, 12, 'Durazno', 300),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 9, 5, 6, '2022-12-05', 2, 6, 'Pl√°tano', 350),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 10, 5, 4, '2022-02-22', 3, 4, 'Lechuga Hidrop√≥nica', 900),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 10, 5, 12, '2022-02-22', 4, 12, 'Durazno', 300),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 10, 5, 8, '2022-02-22', 5, 8, 'Sand√≠a', 2500),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 10, 5, 10, '2022-02-22', 5, 10, 'Papa', 390),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 11, 5, 9, '2022-04-21', 5, 9, 'Kiwi', 200),
 (5, 'Johnny White', '2000-02-11', '30154431495612', '8774 Campbell Estate', 11, 5, 11, '2022-04-21', 2, 11, 'Manzana', 400),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 12, 6, 3, '2022-05-12', 4, 3, 'Cereza', 50),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 13, 6, 3, '2022-05-21', 4, 3, 'Cereza', 50),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 13, 6, 9, '2022-05-21', 1, 9, 'Kiwi', 200),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 13, 6, 5, '2022-05-21', 2, 5, 'Lechuga Escarola', 550),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 13, 6, 7, '2022-05-21', 4, 7, 'Mango', 750),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 13, 6, 10, '2022-05-21', 1, 10, 'Papa', 390),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 13, 6, 1, '2022-05-21', 1, 1, 'Tomate', 200),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 14, 6, 9, '2022-01-08', 1, 9, 'Kiwi', 200),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 14, 6, 7, '2022-01-08', 1, 7, 'Mango', 750),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 15, 6, 10, '2022-03-30', 1, 10, 'Papa', 390),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 15, 6, 7, '2022-03-30', 3, 7, 'Mango', 750),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 15, 6, 11, '2022-03-30', 2, 11, 'Manzana', 400),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 15, 6, 12, '2022-03-30', 1, 12, 'Durazno', 300),
 (6, 'Nicole Morgan', '1995-01-01', '3566959404571215', '538 John Way', 15, 6, 6, '2022-03-30', 3, 6, 'Pl√°tano', 350)]

Ahora podemos seleccionar las columnas que necesitemos.

In [92]:
%%sql
SELECT Usuarios.unombre, Compras.cid, Productos.pnombre, Compras.ccantidad FROM Usuarios 
    INNER JOIN Compras ON Usuarios.uid = Compras.uid
    INNER JOIN Productos ON Compras.pid = Productos.pid

 * sqlite:///ecommerce.db
Done.

[('Christopher Smith', 1, 'Sand√≠a', 4),
 ('Christopher Smith', 1, 'Tomate', 4),
 ('Christopher Smith', 2, 'Tomate', 2),
 ('Christopher Smith', 2, 'Lechuga Escarola', 3),
 ('Christopher Smith', 2, 'Lechuga Hidrop√≥nica', 3),
 ('Emily Sharp', 3, 'Sand√≠a', 4),
 ('Emily Sharp', 3, 'Durazno', 3),
 ('Emily Sharp', 3, 'Kiwi', 2),
 ('Emily Sharp', 4, 'Palta', 5),
 ('Emily Sharp', 5, 'Tomate', 4),
 ('Emily Sharp', 5, 'Papa', 5),
 ('Emily Sharp', 5, 'Kiwi', 1),
 ('Emily Sharp', 5, 'Pl√°tano', 5),
 ('Emily Sharp', 5, 'Lechuga Hidrop√≥nica', 5),
 ('Emily Sharp', 5, 'Cereza', 5),
 ('Ronald Lewis', 6, 'Kiwi', 4),
 ('Ronald Lewis', 6, 'Cereza', 3),
 ('Ronald Lewis', 6, 'Mango', 1),
 ('Ronald Lewis', 7, 'Papa', 5),
 ('Ronald Lewis', 7, 'Sand√≠a', 2),
 ('Ronald Lewis', 7, 'Kiwi', 5),
 ('Ronald Lewis', 7, 'Pl√°tano', 3),
 ('Ronald Lewis', 7, 'Lechuga Hidrop√≥nica', 1),
 ('Ronald Lewis', 7, 'Mango', 1),
 ('Ronald Lewis', 8, 'Pl√°tano', 2),
 ('Johnny White', 9, 'Palta', 1),
 ('Johnny White', 9, 'Lechuga Hidrop√≥nica', 3),
 ('Johnny White', 9, 'Cereza', 2),
 ('Johnny White', 9, 'Durazno', 2),
 ('Johnny White', 9, 'Pl√°tano', 2),
 ('Johnny White', 10, 'Lechuga Hidrop√≥nica', 3),
 ('Johnny White', 10, 'Durazno', 4),
 ('Johnny White', 10, 'Sand√≠a', 5),
 ('Johnny White', 10, 'Papa', 5),
 ('Johnny White', 11, 'Kiwi', 5),
 ('Johnny White', 11, 'Manzana', 2),
 ('Nicole Morgan', 12, 'Cereza', 4),
 ('Nicole Morgan', 13, 'Cereza', 4),
 ('Nicole Morgan', 13, 'Kiwi', 1),
 ('Nicole Morgan', 13, 'Lechuga Escarola', 2),
 ('Nicole Morgan', 13, 'Mango', 4),
 ('Nicole Morgan', 13, 'Papa', 1),
 ('Nicole Morgan', 13, 'Tomate', 1),
 ('Nicole Morgan', 14, 'Kiwi', 1),
 ('Nicole Morgan', 14, 'Mango', 1),
 ('Nicole Morgan', 15, 'Papa', 1),
 ('Nicole Morgan', 15, 'Mango', 3),
 ('Nicole Morgan', 15, 'Manzana', 2),
 ('Nicole Morgan', 15, 'Durazno', 1),
 ('Nicole Morgan', 15, 'Pl√°tano', 3)]

## Alias de tablas

Como vemos, varias veces hacemos referencia al nombre de la tabla. Podemos usar un alias m√°s corto para referirnos a cada tabla con el comando `AS`.

In [94]:
%%sql
SELECT U.unombre, C.cid, P.pnombre, C.ccantidad FROM Usuarios AS U 
    INNER JOIN Compras AS C ON U.uid = C.uid
    INNER JOIN Productos AS P ON C.pid = P.pid

 * sqlite:///ecommerce.db
Done.

[('Christopher Smith', 1, 'Sand√≠a', 4),
 ('Christopher Smith', 1, 'Tomate', 4),
 ('Christopher Smith', 2, 'Tomate', 2),
 ('Christopher Smith', 2, 'Lechuga Escarola', 3),
 ('Christopher Smith', 2, 'Lechuga Hidrop√≥nica', 3),
 ('Emily Sharp', 3, 'Sand√≠a', 4),
 ('Emily Sharp', 3, 'Durazno', 3),
 ('Emily Sharp', 3, 'Kiwi', 2),
 ('Emily Sharp', 4, 'Palta', 5),
 ('Emily Sharp', 5, 'Tomate', 4),
 ('Emily Sharp', 5, 'Papa', 5),
 ('Emily Sharp', 5, 'Kiwi', 1),
 ('Emily Sharp', 5, 'Pl√°tano', 5),
 ('Emily Sharp', 5, 'Lechuga Hidrop√≥nica', 5),
 ('Emily Sharp', 5, 'Cereza', 5),
 ('Ronald Lewis', 6, 'Kiwi', 4),
 ('Ronald Lewis', 6, 'Cereza', 3),
 ('Ronald Lewis', 6, 'Mango', 1),
 ('Ronald Lewis', 7, 'Papa', 5),
 ('Ronald Lewis', 7, 'Sand√≠a', 2),
 ('Ronald Lewis', 7, 'Kiwi', 5),
 ('Ronald Lewis', 7, 'Pl√°tano', 3),
 ('Ronald Lewis', 7, 'Lechuga Hidrop√≥nica', 1),
 ('Ronald Lewis', 7, 'Mango', 1),
 ('Ronald Lewis', 8, 'Pl√°tano', 2),
 ('Johnny White', 9, 'Palta', 1),
 ('Johnny White', 9, 'Lechuga Hidrop√≥nica', 3),
 ('Johnny White', 9, 'Cereza', 2),
 ('Johnny White', 9, 'Durazno', 2),
 ('Johnny White', 9, 'Pl√°tano', 2),
 ('Johnny White', 10, 'Lechuga Hidrop√≥nica', 3),
 ('Johnny White', 10, 'Durazno', 4),
 ('Johnny White', 10, 'Sand√≠a', 5),
 ('Johnny White', 10, 'Papa', 5),
 ('Johnny White', 11, 'Kiwi', 5),
 ('Johnny White', 11, 'Manzana', 2),
 ('Nicole Morgan', 12, 'Cereza', 4),
 ('Nicole Morgan', 13, 'Cereza', 4),
 ('Nicole Morgan', 13, 'Kiwi', 1),
 ('Nicole Morgan', 13, 'Lechuga Escarola', 2),
 ('Nicole Morgan', 13, 'Mango', 4),
 ('Nicole Morgan', 13, 'Papa', 1),
 ('Nicole Morgan', 13, 'Tomate', 1),
 ('Nicole Morgan', 14, 'Kiwi', 1),
 ('Nicole Morgan', 14, 'Mango', 1),
 ('Nicole Morgan', 15, 'Papa', 1),
 ('Nicole Morgan', 15, 'Mango', 3),
 ('Nicole Morgan', 15, 'Manzana', 2),
 ('Nicole Morgan', 15, 'Durazno', 1),
 ('Nicole Morgan', 15, 'Pl√°tano', 3)]

Tambi√©n podemos omitir el comando `AS`.

In [95]:
%%sql
SELECT U.unombre, C.cid, P.pnombre, C.ccantidad FROM Usuarios U 
    INNER JOIN Compras C ON U.uid = C.uid
    INNER JOIN Productos P ON C.pid = P.pid

 * sqlite:///ecommerce.db
Done.

[('Christopher Smith', 1, 'Sand√≠a', 4),
 ('Christopher Smith', 1, 'Tomate', 4),
 ('Christopher Smith', 2, 'Tomate', 2),
 ('Christopher Smith', 2, 'Lechuga Escarola', 3),
 ('Christopher Smith', 2, 'Lechuga Hidrop√≥nica', 3),
 ('Emily Sharp', 3, 'Sand√≠a', 4),
 ('Emily Sharp', 3, 'Durazno', 3),
 ('Emily Sharp', 3, 'Kiwi', 2),
 ('Emily Sharp', 4, 'Palta', 5),
 ('Emily Sharp', 5, 'Tomate', 4),
 ('Emily Sharp', 5, 'Papa', 5),
 ('Emily Sharp', 5, 'Kiwi', 1),
 ('Emily Sharp', 5, 'Pl√°tano', 5),
 ('Emily Sharp', 5, 'Lechuga Hidrop√≥nica', 5),
 ('Emily Sharp', 5, 'Cereza', 5),
 ('Ronald Lewis', 6, 'Kiwi', 4),
 ('Ronald Lewis', 6, 'Cereza', 3),
 ('Ronald Lewis', 6, 'Mango', 1),
 ('Ronald Lewis', 7, 'Papa', 5),
 ('Ronald Lewis', 7, 'Sand√≠a', 2),
 ('Ronald Lewis', 7, 'Kiwi', 5),
 ('Ronald Lewis', 7, 'Pl√°tano', 3),
 ('Ronald Lewis', 7, 'Lechuga Hidrop√≥nica', 1),
 ('Ronald Lewis', 7, 'Mango', 1),
 ('Ronald Lewis', 8, 'Pl√°tano', 2),
 ('Johnny White', 9, 'Palta', 1),
 ('Johnny White', 9, 'Lechuga Hidrop√≥nica', 3),
 ('Johnny White', 9, 'Cereza', 2),
 ('Johnny White', 9, 'Durazno', 2),
 ('Johnny White', 9, 'Pl√°tano', 2),
 ('Johnny White', 10, 'Lechuga Hidrop√≥nica', 3),
 ('Johnny White', 10, 'Durazno', 4),
 ('Johnny White', 10, 'Sand√≠a', 5),
 ('Johnny White', 10, 'Papa', 5),
 ('Johnny White', 11, 'Kiwi', 5),
 ('Johnny White', 11, 'Manzana', 2),
 ('Nicole Morgan', 12, 'Cereza', 4),
 ('Nicole Morgan', 13, 'Cereza', 4),
 ('Nicole Morgan', 13, 'Kiwi', 1),
 ('Nicole Morgan', 13, 'Lechuga Escarola', 2),
 ('Nicole Morgan', 13, 'Mango', 4),
 ('Nicole Morgan', 13, 'Papa', 1),
 ('Nicole Morgan', 13, 'Tomate', 1),
 ('Nicole Morgan', 14, 'Kiwi', 1),
 ('Nicole Morgan', 14, 'Mango', 1),
 ('Nicole Morgan', 15, 'Papa', 1),
 ('Nicole Morgan', 15, 'Mango', 3),
 ('Nicole Morgan', 15, 'Manzana', 2),
 ('Nicole Morgan', 15, 'Durazno', 1),
 ('Nicole Morgan', 15, 'Pl√°tano', 3)]

## Consultas de agregaci√≥n

TBA